{{extend name="public:base" /}}
<!--标题-->
{{block name="title"}}
设备列表
{{/block}}
<div class="box box-warning">
	<div class="box-header with-border">
		<h3 class="box-title">General Elements</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<form role="form">
			<!-- text input -->
			<div class="form-group">
				<label>Text</label> <input type="text" class="form-control" placeholder="Enter ...">
			</div>
			<div class="form-group">
				<label>Text Disabled</label> <input type="text" class="form-control" placeholder="Enter ..." disabled>
			</div>
			
			<!-- textarea -->
			<div class="form-group">
				<label>Textarea</label> <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
			</div>
			<div class="form-group">
				<label>Textarea Disabled</label> <textarea class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
			</div>
			
			<!-- input states -->
			<div class="form-group has-success">
				<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label> <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ..."> <span class="help-block">Help block with success</span>
			</div>
			<div class="form-group has-warning">
				<label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with warning</label> <input type="text" class="form-control" id="inputWarning" placeholder="Enter ..."> <span class="help-block">Help block with warning</span>
			</div>
			<div class="form-group has-error">
				<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with error</label> <input type="text" class="form-control" id="inputError" placeholder="Enter ..."> <span class="help-block">Help block with error</span>
			</div>
			
			<!-- checkbox -->
			<div class="form-group">
				<div class="checkbox">
					<label> <input type="checkbox"> Checkbox 1 </label>
				</div>
				
				<div class="checkbox">
					<label> <input type="checkbox"> Checkbox 2 </label>
				</div>
				
				<div class="checkbox">
					<label> <input type="checkbox" disabled> Checkbox disabled </label>
				</div>
			</div>
			
			<!-- radio -->
			<div class="form-group">
				<div class="radio">
					<label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option one is this and that&mdash;be sure to include why it's great </label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one </label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Option three is disabled </label>
				</div>
			</div>
			
			<!-- select -->
			<div class="form-group">
				<label>Select</label> <select class="form-control">
				<option>option 1</option>
				<option>option 2</option>
				<option>option 3</option>
				<option>option 4</option>
				<option>option 5</option>
			</select>
			</div>
			<div class="form-group">
				<label>Select Disabled</label> <select class="form-control" disabled>
				<option>option 1</option>
				<option>option 2</option>
				<option>option 3</option>
				<option>option 4</option>
				<option>option 5</option>
			</select>
			</div>
			
			<!-- Select multiple-->
			<div class="form-group">
				<label>Select Multiple</label> <select multiple class="form-control">
				<option>option 1</option>
				<option>option 2</option>
				<option>option 3</option>
				<option>option 4</option>
				<option>option 5</option>
			</select>
			</div>
			<div class="form-group">
				<label>Select Multiple Disabled</label> <select multiple class="form-control" disabled>
				<option>option 1</option>
				<option>option 2</option>
				<option>option 3</option>
				<option>option 4</option>
				<option>option 5</option>
			</select>
			</div>
		
		</form>
	</div>
	<!-- /.box-body -->
</div>
<!--主体-->
{{block name="main"}}
<!-- 内容墙,包含顶部面板 -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->

	
	<!-- Main content -->
	<section class="content">
		<div class="box-body">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">产品编辑</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="col-lg-2">
					</div>
					<div class="col-lg-8">
						<form role="form">
							<!-- text input -->
							<div class="form-group">
								<label>产品名称：</label> <input type="text" class="form-control" placeholder="Enter ...">
							</div>
							
							<div class="form-group">
								<label>产品行业：</label> <input type="text" class="form-control" placeholder="Enter ...">
							</div>
							
							<!-- input states -->
							<div class="form-group has-success">
								<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label> <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ..."> <span class="help-block">Help block with success</span>
							</div>
							<div class="form-group has-warning">
								<label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with warning</label> <input type="text" class="form-control" id="inputWarning" placeholder="Enter ..."> <span class="help-block">Help block with warning</span>
							</div>
							<div class="form-group has-error">
								<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with error</label>
								<input type="text" class="form-control" id="inputError" placeholder="Enter ..."> <span class="help-block">Help block with error</span>
							</div>
						</form>
					</div>
					<div class="col-lg-2">
					</div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<div class="modal fade" id="add-device" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">添加设备</h4>
			</div>
			<form id="add_device_form">
				<div class="modal-body">
					<div class="form-group">
						<label for="recipient-name" class="control-label">设备名称:</label> <input type="text" class="form-control" id="recipient-name" name="device_name">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">鉴权信息:</label> <input type="text" class="form-control" id="message-text" name="device_auth">
					</div>
					<div class="form-group">
						<label>数据类型:</label> <select class="form-control" name="data_type">
						<option>温度</option>
						<option>湿度</option>
						<option>电流</option>
						<option>电压</option>
						<option>磁场</option>
					</select>
					</div>
					<div class="form-group">
						<label for="description" class="control-label">描述:</label> <input type="text" class="form-control" id="description" name="device_description">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary" id="add_device_btn"> 接入设备</button>
					</div>
				</div>
			</form>
		
		</div>
	</div>
</div>
<div class="modal fade" id="send-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">发送命令</h4>
			</div>
			<form>
				<input type="hidden" name="device_id" id="device_id">
				<div class="modal-body">
					<div class="form-group">
						<label for="order-text" class="control-label">命令内容:</label> <textarea class="form-control" id="order-text" name="order_text" rows="5" placeholder="请输入字符串或数字"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="DeviceList.sendOrder($(this))">发送</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{/block}}

{{block name="js"}}
<script>
    $(function () {
        DeviceList.addDevice("{{:url('addDevice')}}");
    });
    let DeviceList = {
        addDevice(url) {
            $("#add-device").validator({
                fields: {
                    device_name: "设备名称:required",
                    device_auth: "鉴权信息:required",
                    device_description: "设备描述:required",
                },
                valid: function (form) {
                    let me = this;
                    me.holdSubmit();
                    $.ajax({
                        url: url,
                        data: $(form).serialize(),
                        type: "POST",
                        success: function (info) {
                            if (info.flag === true) {
                                swal("验证通过！", info.msg, "success").then(function () {
                                    me.holdSubmit(false);
                                    form.submit();
                                });
                            } else {
                                me.holdSubmit(false);
                                swal("WTF,验证失败了?!!", info.msg, "error");
                            }
                        }
                    });
                }
            });
        },
        /**
         * 显示发送命令模态框
         * @param _obj
         * 当前模态框
         */
        showOrderModal: function (_obj) {
            $('#send-order').modal('show');
            // 找到当前设备id
            let device_id = _obj.closest('tr').find('input[name="device_id"]').val();
            $('#device_id').val('');
            $('#device_id').val(device_id);
        },
        /**
         * 异步发送命令
         * @param _obj
         * 当前模态框
         */
        sendOrder: function (_obj) {
            let $device_id = $('#device_id').val();
            let $order_text = _obj.closest('form').find('[name="order_text"]').val();
            if ($order_text === '' || $order_text === null || $order_text === ' ') {
                toastr.warning('发送内容不能为空');
                return;
            }
            let data = `device_id=${$device_id}&order_text=${$order_text}`;
            $.ajax({
                url: "{{:url('sendOrder')}}",
                data: data,
                type: 'get',
                success: function (info) {
                    if (info.flag === true) {
                        $('#send-order').modal('hide');
                        swal("发送成功！", info.msg, "success").then(function () {
                        });
                    } else {
                        swal("WTF,失败了?!!", info.msg, "error");
                    }
                },
            });
        },
    }
</script>

{{/block}}

