{{extend name="public:base" /}}
<!--标题-->
{{block name="title"}}
设备列表
{{/block}}
<div class="box box-warning">
	<div class="box-header with-border">
		<h3 class="box-title">General Elements</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<form role="form">
			<!-- text input -->
			<div class="form-group">
				<label>Text</label> <input type="text" class="form-control" placeholder="Enter ...">
			</div>
			<div class="form-group">
				<label>Text Disabled</label> <input type="text" class="form-control" placeholder="Enter ..." disabled>
			</div>
			
			<!-- textarea -->
			<div class="form-group">
				<label>Textarea</label> <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
			</div>
			<div class="form-group">
				<label>Textarea Disabled</label> <textarea class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
			</div>
			
			<!-- input states -->
			<div class="form-group has-success">
				<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label> <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ..."> <span class="help-block">Help block with success</span>
			</div>
			<div class="form-group has-warning">
				<label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with warning</label> <input type="text" class="form-control" id="inputWarning" placeholder="Enter ..."> <span class="help-block">Help block with warning</span>
			</div>
			<div class="form-group has-error">
				<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with error</label> <input type="text" class="form-control" id="inputError" placeholder="Enter ..."> <span class="help-block">Help block with error</span>
			</div>
			
			<!-- checkbox -->
			<div class="form-group">
				<div class="checkbox">
					<label> <input type="checkbox"> Checkbox 1 </label>
				</div>
				
				<div class="checkbox">
					<label> <input type="checkbox"> Checkbox 2 </label>
				</div>
				
				<div class="checkbox">
					<label> <input type="checkbox" disabled> Checkbox disabled </label>
				</div>
			</div>
			
			<!-- radio -->
			<div class="form-group">
				<div class="radio">
					<label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option one is this and that&mdash;be sure to include why it's great </label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one </label>
				</div>
				<div class="radio">
					<label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Option three is disabled </label>
				</div>
			</div>
			
			<!-- select -->
			<div class="form-group">
				<label>Select</label> <select class="form-control">
				<option>option 1</option>
				<option>option 2</option>
				<option>option 3</option>
				<option>option 4</option>
				<option>option 5</option>
			</select>
			</div>
			<div class="form-group">
				<label>Select Disabled</label> <select class="form-control" disabled>
				<option>option 1</option>
				<option>option 2</option>
				<option>option 3</option>
				<option>option 4</option>
				<option>option 5</option>
			</select>
			</div>
			
			<!-- Select multiple-->
			<div class="form-group">
				<label>Select Multiple</label> <select multiple class="form-control">
				<option>option 1</option>
				<option>option 2</option>
				<option>option 3</option>
				<option>option 4</option>
				<option>option 5</option>
			</select>
			</div>
			<div class="form-group">
				<label>Select Multiple Disabled</label> <select multiple class="form-control" disabled>
				<option>option 1</option>
				<option>option 2</option>
				<option>option 3</option>
				<option>option 4</option>
				<option>option 5</option>
			</select>
			</div>
		
		</form>
	</div>
	<!-- /.box-body -->
</div>
<!--主体-->
{{block name="main"}}
<!-- 内容墙,包含顶部面板 -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->

	
	<!-- Main content -->
	<section class="content">
		<div class="box-body">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">产品编辑</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="col-lg-2">
					</div>
					<div class="col-lg-8">
						{{if condition="($action == 'create')"}}
							<form role="form" method="post" action="{{:url('index/product/store')}}">
						{{else /}}
							<form role="form" method="post" action="{{:url('index/product/update')}}">
						{{/if}}
							<!-- text input -->
								<input type="hidden" class="form-control" name="id">
							<div class="form-group">
								<label>产品名称：</label>
								<input type="text" class="form-control" name="product_name" placeholder="请输入产品名称" data-rule="required">
							</div>
							<div class="form-group">
								<label>产品行业</label>
								<select class="form-control select2 select2-hidden-accessible"  name="product_industry" style="width: 100%;" tabindex="-1" aria-hidden="true" data-rule="required">
									<option value="2">车载设备</option>
									<option value="3">可穿戴设备</option>
									<option value="4">医疗保健</option>
									<option value="5">智能玩具</option>
									<option value="6">新能源</option>
									<option value="7">运动监控</option>
									<option value="8">智能教育</option>
									<option value="9">环境监控</option>
									<option value="10">办公设备</option>
									<option value="11">其他</option>
								</select>
							</div>
							<div class="form-group">
								<label>产品描述</label>
								<textarea class="form-control" name="product_description" rows="3" placeholder="Enter ..." data-rule="required"></textarea>
							</div>
							<!--&lt;!&ndash; input states &ndash;&gt;-->
							<!--<div class="form-group has-success">-->
								<!--<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label> <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ..."> <span class="help-block">Help block with success</span>-->
							<!--</div>-->
							<!--<div class="form-group has-warning">-->
								<!--<label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with warning</label> <input type="text" class="form-control" id="inputWarning" placeholder="Enter ..."> <span class="help-block">Help block with warning</span>-->
							<!--</div>-->
							<!--<div class="form-group has-error">-->
								<!--<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with error</label>-->
								<!--<input type="text" class="form-control" id="inputError" placeholder="Enter ..."> <span class="help-block">Help block with error</span>-->
							<!--</div>-->
							<div class="text-center">
								<button type="reset" class="btn btn-default">取消</button>
								<button type="submit" class="btn btn-info ">保存</button>
							</div>
						</form>
					</div>
					<div class="col-lg-2">
					</div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<div class="modal fade" id="add-device" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">添加设备</h4>
			</div>
			<form id="add_device_form">
				<div class="modal-body">
					<div class="form-group">
						<label for="recipient-name" class="control-label">设备名称:</label> <input type="text" class="form-control" id="recipient-name" name="device_name">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">鉴权信息:</label> <input type="text" class="form-control" id="message-text" name="device_auth">
					</div>
					<div class="form-group">
						<label>数据类型:</label> <select class="form-control" name="data_type">
						<option>温度</option>
						<option>湿度</option>
						<option>电流</option>
						<option>电压</option>
						<option>磁场</option>
					</select>
					</div>
					<div class="form-group">
						<label for="description" class="control-label">描述:</label> <input type="text" class="form-control" id="description" name="device_description">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-primary" id="add_device_btn"> 接入设备</button>
					</div>
				</div>
			</form>
		
		</div>
	</div>
</div>
<div class="modal fade" id="send-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">发送命令</h4>
			</div>
			<form>
				<input type="hidden" name="device_id" id="device_id">
				<div class="modal-body">
					<div class="form-group">
						<label for="order-text" class="control-label">命令内容:</label> <textarea class="form-control" id="order-text" name="order_text" rows="5" placeholder="请输入字符串或数字"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="DeviceList.sendOrder($(this))">发送</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{/block}}

{{block name="js"}}
<script>
    $(function () {
        popInput('{{$one ?? false}}');
    });
</script>

{{/block}}

